h1{
    text-align: center;
}

body{
    background-color: rgba(0,180,80,0.4);
}

.arrow_name{
    position: relative;
    width: 30%;
    left: 20px;
}

.send_time{
    display: inline-block;
    color: white;
}

.outputField{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    border: 1px solid rgb(0,0,250);
    border-radius: 10px;
    background-color: rgba(0,200,250,0.6);
    overflow: scroll;
}

.inputField{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

/* hukidashi */
.arrow_box {
    position: relative;
    display:inline-block;
    padding:10px ;
    text-align:left;
    background-color:rgba(0,200,170,1);
    border:6px solid rgba(0,200,170,0.8);
    margin: 5px 5px 5px 10px;
    border-radius: 7px ;
    box-shadow:0px 0px 14px 0px  #000000 ;
}
.arrow_box:after, .arrow_box:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
}
.arrow_box:after {
    top: 2px;
    left: -26px; 
    border: 16px solid transparent;
    border-right: 21px solid rgba(0,200,170,1); /*13px*/
}
.arrow_box:before {
    top: 8px;
    left: -26px;
    border: 10px solid transparent;
    border-right: 10px solid rgba(0,200,170,1); /*10px*/
}